# Binaries for programs and plugins
datawarehouse

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
dbconfig.yml
*.out
*~
/swagger/swagger.json
.env*
